@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --color1: hsl(25.7, 30.4%, 95.5%);
  --color2: hsl(216, 15%, 12.3%);
  --color3: hsl(216, 10%, 43.2%);
  --font1: 2.7em;
  --font2: 2em;
  --font3: 1.7em;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.right {
  right: 0 !important;
}

.bgWhite {
  height: 45% !important;
}

.bgWhite .top,
.bgWhite .bottom {
  background-color: var(--color1) !important;
}

.bgWhite .top {
  -webkit-transform: rotate(-45deg) translate(-6px, 9px);
          transform: rotate(-45deg) translate(-6px, 9px);
}

.bgWhite .bottom {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
}

main {
  padding: 0 2em 3em;
  background-color: var(--color1);
  letter-spacing: 3px;
}

.navBar {
  position: fixed;
  width: calc(100% - 4em);
  top: 0;
  padding: 2em 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color1);
  z-index: 1000;
}

.navBar .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: start;
      justify-self: start;
}

.navBar .logo img {
  height: 5em;
}

.navBar .menu {
  position: fixed;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color2);
  padding: 3em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.navBar .menu .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .menu a {
  font-size: var(--font1);
  color: var(--color1);
  text-decoration: none;
  padding: 0.8em 1em;
  font-weight: 300;
}

.navBar .menu a:hover {
  letter-spacing: 0.2em;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.navBar .navIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  justify-self: end;
  z-index: 1000;
}

.navBar .navIcon:hover {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navBar .navIcon .top,
.navBar .navIcon .bottom {
  width: 4em;
  height: 2px;
  background-color: var(--color2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home {
  display: -ms-grid;
  display: grid;
  gap: 4em;
  margin-top: 17em;
}

.home .img {
  position: relative;
}

.home .img img {
  border-radius: 40%;
}

.home .img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.home h3 {
  font-size: var(--font2);
  letter-spacing: 0.3em;
  letter-spacing: 7px;
  color: var(--color3);
  font-weight: 400;
}

.home h1 {
  font-size: var(--font1);
  margin: 0.2em 0;
  color: var(--color2);
}

.home p {
  font-size: var(--font3);
  margin-top: 1.2em;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.home .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em 1.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4em 0;
}

.home .buttons .btn {
  font-size: var(--font2);
  background-color: var(--color1);
  border: 1px solid var(--color2);
  padding: 0.8em 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .buttons .btn:hover {
  background-color: var(--color2);
  color: var(--color1);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

@media (min-width: 620px) {
  html {
    font-size: 62%;
  }
  main {
    padding: 0 3em;
  }
  .navBar {
    width: calc(100% - 6em);
  }
  .navBar .logo img {
    height: 6em;
  }
  .navBar .menu {
    width: 90%;
    height: auto;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4/13;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: none;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 13;
    position: initial;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .navBar .menu .navLinks {
    width: 93%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navBar .menu .navLinks a {
    font-size: var(--font2);
    color: var(--color2);
    padding: 0;
  }
  .navBar .navIcon {
    display: none;
  }
  .home {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 0;
    margin-top: 21em;
  }
  .home .img {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home .context {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .home p {
    max-width: 48ch;
  }
  .home .buttons {
    max-width: 38em;
  }
}
/*# sourceMappingURL=index.css.map */